<h1>i am index</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <% if task.completed == true %>
      <input type="checkbox" checked> <%= link_to task.title, task_path(task) %>
    <% else %>
          <input type="checkbox"> <%= link_to task.title, task_path(task) %>
    <% end %>
    -
    <%= link_to 'edit', edit_task_path(task) %>
    -
    <%= link_to "Delete", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </li>
  <% end %>
</ul>

<%= link_to 'Add new task', new_task_path %>
